html{
	width:100%;
	height:100%;
}

#container{
	height: 100%;
	width: 1000px;
	position: relative;
  margin: auto;

}
#slideShow{
	heigth: 90%;
	width: 100%;
	border-style: solid;
}
#slides{
	margin-top: auto;
}
