.chart 
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
}

table
{
    border-radius: 3px;
    border-style: groove;
    width: 100%;
    height: 100%;
}

/* HEADER CSS */

#header th
{
    font-weight: 700;
    text-align: center;
    background-color: darkslategray;
    padding: 5px;
    margin-bottom: 3px;
    color: darkorange;
}

/* BODY CSS */

tbody tr
{
    font-weight: 550;
    color: white;
    text-align: center;
    text-shadow:
        .5px .5px 0 #000,
        -.5px -.5px 0 #000,  
        .5px -1.5x 0 #000,
        -.5px .5px 0 #000,
        .5px .5px 0 #000;
    padding: -1px;
    margin: -2px;
}

tbody tr:nth-child(odd)
{
    background-color: grey;
}

tbody tr:nth-child(even) 
{
    background-color: darkslategray;
}

/* FOOTER CSS */
#Total-Hours
{
    font-weight: 900;
    text-align: center;
    color: black;
    text-shadow: none;
                
}