/* 1. GENERAL */
body
{
    font-family: "Roboto", helvetica, arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-rendering: optimizePrecision;
}

table
{
    border: 1px solid;
    border-collapse: collapse;
    columns: 2 400px;
    column-rule: 1px solid black;
    height: 90%;
    width: 90%;
    position: fixed;
}

/* 2. HEADER CSS */

th
{
    font-family: "Roboto", helvetica, arial, sans-serif;
    color:#D5DDE5;
    background-color: #201D1D;
    border-right: 1px solid #343a45;
    font-size: 23px;
    font-weight: 100;
    padding: 24px;
    text-align: left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}

/* 3. BODY CSS */

tr
{
    border-radius: 4.35px;
    color: white;
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}


td
{
    padding:20px;
    text-align:left;
    vertical-align:middle;
    font-weight:300;
    font-size:18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
}

/* 4. ALTERNATING STYLES */

.oddStyling
{
    background-color: #042942;
}

.evenStyling
{
  background-color: #670036;
}
 .columnOne
 {
    border-right: 1px #343A45 solid;
 }

 .columnTwo
 {
    border-left: 1px #343A45 solid;
 }

.evenStyling, .oddStyling
{
    font-family: "Roboto", helvetica, arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 350;
    text-align: center;
    text-shadow:
      .5px .5px 0 #000,
      -.5px -.5px 0 #000,
      .5px -1.5x 0 #000,
      -.5px .5px 0 #000,
      .5px .5px 0 #000;
      padding: -1px;
      margin: -2px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
    column-rule: 1px solid black;
    border-radius: 1px #343A45 solid;
}

/* 5. FOOTER CSS */
