/* Form */
form{
    margin: auto;
    width: 25%;
    padding: 70px 0;
}

/* Input boxes */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px, 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Buttons */
button {
    background-color: #28724F;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Button hover */
button:hover{
    opacity: 0.8;
}

.container{
    border: 3px solid #f1f1f1;
    padding: 16px;
    background-color: rgba(35,97,146,.65);
}

#responseText{
    margin: auto;
    text-align: center;
    color: #923023;
}