/*
potential color palette: background rgb(0, 38, 77) 
text 1, greyish-green: rgb(98, 153, 152)
text 2, white
opaque grey underlay: rgba(26, 26, 26, 0.3)
opaque white underlay: rgba(135, 135, 135, 0.2)
*/

nav {
	display: inline;
}

#header {
	background-color: rgba(26, 26, 26, 0.3);
	padding: 1%;
	height: 100px;
}

#lcdibanner {
	padding: 1%;

	width: 248px;
	height: 53px;
}

body {
	/*background-image: url("images/bluepattern.jpg"); */
	background-color: rgb(0, 38, 77);
}

main {
	margin-top: 5%;
	/* display: flex; */
	padding-left: 4%;
	padding-right: 4%;
}

/* #twitter {
	padding-left: 4%;
	width: 500px;
	float: right;
} */

h2, h4 {
	color: white;
	font-family: Arial, sans-serif;
}


#shuttle {
	/*border: none;
	margin-top: 5%; 
	height: 500px;
	width: 100%;
	margin: 1%; */
	width: 1041px;
	height: 809px;
	left: 38px;
	top: 151px;
	z-index: 13;
	position: absolute;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: rgba(26, 26, 26, 0.3);
}

p {
	font-size: 13px;
	color: rgb(98, 153, 152);
}

