html, body{
    height: 100%;
}

.sidenav {
    float: left;
    height: 100%;
    padding: 10px;
    background-color: #eee;
}

.main #createUser{
    margin-top: 10px;
}

#error_text {
    color:red;
}