/*
potential color palette: background rgb(0, 38, 77) #00264D
text 1, greyish-green: rgb(98, 153, 152) #629998
text 2, white
opaque grey underlay: rgba(3, 3, 20, 0.3) #141419 with opacity 0.3
opaque white underlay: rgba(135, 135, 135, 0.2) #878787
- Main color: #00264D
*/


/* 1) NAVBAR */

nav {
    display: inline;
    width: 100%; 
}

/* 2A) HEADER */

#header {
	background-color: rgba(3, 3, 20, 0.3);
	height: 125px;
    /* border: 5px grey solid; */
}

/* 3A) LOGO */

#logo {
	padding-bottom: 20px;
	padding-right: 20px;
	padding-top: 25px;
	padding-left: 25px;
	max-width: 60%;
	max-height: 60%;
	filter:brightness(110%);
	/* border: 3px red solid; */
	
	/*padding: 20px;
    width: 33%;   this will make the logo change size
    height: 100%;
    position: relative;
    top: 2px; */
}

/* 4A) WEATHER CLOCK DIV */

#weather-clock {
	float: right;
	/*display: inline-flex;
    padding: 7.5px; */
    /* border: 3px cyan solid; */
	display: flex;
	padding: 10px;
	padding-top: 12px;
}

/* 4B) WEATHER 
two day 300 x 100 */
#weather {
	display: block;
	text-align: center; 
	font-family: sans-serif; 
	font-size: 12px;
    float: right;
    /*padding: 10px; unnecessary if there's padding on weather-clock */ 
    max-height: 100%;
    max-width: 100%;
    /* border: 3px red solid; */
}

/* 4C) CLOCK*/

#clock {
    font-family: 'Lora', serif;
    letter-spacing: .75px;
	color: white;
	padding: 1%;
	padding-top: 7%;
	padding-left: 2%;
	max-width: 75%;
    max-height:100%;
	text-align: center;
	width: 160px; 
    /* border: 3px red solid; */
}

/* 4D) CLOCK: DATE */

#date {
    max-width: 100%;
}

/* 5A) WEATHER SPAN */

#right #weather span {
	background-color: #00264D;
	display: inline;
	width: 320px; 
	text-align: center; 
	font-family: sans-serif; 
	font-size: 12px;
}

